<%= render 'layouts/header' %>

<p>Find me in app/views/users/new.html.erb</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%# raise @user.inspect %>
		<%= form_for(@user) do |f| %>
			
				<!-- Notice we render an 'error_messages' partial -->
				<%= render 'shared/error_messages' %>

				<%= f.label :name %>
				<%= f.text_field :name, class: 'form-control' %>
				
				<%= f.label :name_confirmation, class: 'Name confirmation' %>
				<%= f.text_field :name_confirmation, class: 'form-control' %>
		
				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>

				<%= f.label :email_confirmation, class: 'Email confirmation' %>
				<%= f.text_field :email_confirmation, class: 'form-control' %>
		
				<%= f.submit "Create User", class: "btn btn-primary" %> 
		
		
		<% end %>
	</div>
</div>
	